* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #0D1117; 
}

.container {
  width: 1200px; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: rgb(203, 198, 198);
  align-items: center;
  padding: 20px;
  gap: 40px;
}

.left {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-weight: 400;
  gap:30px;
}

.left p {
  line-height: 1.6;
}

.left a {
  text-decoration: none;
  color: rgb(41, 41, 219);
  padding: 10px;
}

.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.right h2 {
  font-size: 20px;
}

.right .lang {
  display: flex;
  align-items: center;
}

.lang img {
  width: 40px;
}