.container {
  display: grid; 
  grid-template-columns: 1fr 2fr;
  width: 1200px;
  margin: 0 auto;
}

.left {
  background-color: #f0f0f0;
  padding: 20px;
}
.right {
  background-color: #d0d0d0;
  padding: 20px;
}